# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# The following `prisma+postgres` URL is similar to the URL produced by running a local Prisma Postgres 
# server with the `prisma dev` CLI command, when not choosing any non-default ports or settings. The API key, unlike the 
# one found in a remote Prisma Postgres URL, does not contain any sensitive information.

NODE_ENV=development

NEXT_PUBLIC_GITHUB_REPO_URL="https://github.com/leos0509/wrok-v0.0"
NEXT_PUBLIC_GITHUB_MIT_LICENSE="https://github.com/leos0509/wrok-v0.0/blob/main/LICENSE"

NEXTAUTH_SECRET="changeme"
NEXTAUTH_URL="http://localhost:3000"

GITHUB_CLIENT_ID="your-github-client-id"
GITHUB_CLIENT_SECRET="your-github-client-secret"
GOOGLE_CLIENT_ID="your-google-client-id"
GOOGLE_CLIENT_SECRET="your-google-client-secret"

DATABASE_URL="postgresql://user:password@localhost:5432/wroksdb"
